body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); //softshadow
}

#input, 
#output {
    background-color: #222;
    color: #0f0;
    font-size: 2em;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: monospace;
}

button {
    background-color: #444;
    color: white;
    font-size: 1.5em;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #666;
}

.buttons {
    display: grid; 
    grid-template-columns: repeat(4,1fr); /* 4 equal columns*/ 
    gap: 10px; 
    margin-bottom: 10px;
    width: 100%;
}

.buttons button {
    width: 100%;
    padding: 15px 0;
    font-size: 1.2rem;
}

#utility-buttons {
    margin-top: 10px;
}

#utility-buttons button {
    background-color: #b30000;
}

#utility-buttons button:hover {
    background-color: #ff1a1a;
}